<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dash Board</title>
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="/js/board.js"></script>
</head>
<body>

    <input type="checkbox" id="check">

    <!-- header area start -->
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>

        <div class="left_area">
            <a href="/home"><h3>Coding <span>Snow</span></h3></a>

        </div>
        <div class="right_area">
            <a href="#" class="logout_btn">LogOut</a>
        </div>

    </header>
    <!-- header area end -->

    <!-- mobile navigation bar start-->
    <div class="mobile_nav">
        <div class="nav_bar">
            <img src="/images/52806121.jpg" class="mobile_profile_image" alt="">
            <i class="fas fa-bars nav_btn"></i>
        </div>
        <div class="mobile_nav_items">
            <a href="#"><i class="fas fa-desktop"></i><span>Board</span></a>
            <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
            <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
            <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
            <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
        </div>

    </div>
    <!-- mobile navigation bar end-->

    <!-- Sidebar start -->
    <div class="sidebar">

        <div class="profile_info">
            <img src="/images/52806121.jpg" class="profile_image" alt="">
            <h4>lhs</h4>
        </div>

        <a href="#"><i class="fas fa-desktop"></i><span>Board</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>

    </div>

    <!-- Sidebar end -->

    <div class="content">

        <div class="card" th:each="board:${boards}">
            <a href="#" ><h1><p th:text="${board.title}"></p></h1></a>
            <!--<p th:text="${board.content}"></p>-->
        </div>

        <!--Logged user: <span sec:authentication="principal" >Bob</span>
        Logged user: <span th:text="${#authentication.principal}"></span> -->
        <a style="text-decoration:none; color:#333" href="/board/saveForm"><input sec:authorize="isAuthenticated()" type="button" class="btn-write" value="Write" ></a>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.nav_btn').click(function(){
                $('.mobile_nav_items').toggleClass('active');
            });
        });
    </script>

</body>
</html>